extends layout

block content
  main
    aside  
      h1 Search Bar
      form
        input.SearchTextBox(type='text', name='search', placeholder='Search..')

        div
          input(type='radio', value='byTitle', name='type') 
          label Books
        div
          input(type='radio', value='byAuthor', name='type') 
          label Authors
        div
          input(type='radio', value='byGenre', name='type') 
          label Genres

        div
          button(type='submit') Search 

    article 
      br
      br
      - var page = 0
      while page * 10 < count
        a(href=`/?page=${page + 1}`)= ++page

      each book in books
        br
        br
        a(href=`http://localhost:3000/books/${book.id}`, target='_blank')
          .book
            img(src=`${book.image}`, alt=`${book.title}`, width='75', height='100')  
            h3= book.title

            h3 Authors
            p= book.authors.map( a => a.name ).join( ', ')

            h3 Genres
            p= book.genres.map( g => g.name ).join( ', ')

      br
      br
      br
      br
      br
      br
      br
      
